.idea
/www/app/design/*/Magento
/www/app/etc
/www/app/i18n/magento
/www/app/*.*
/www/bin
/www/dev/tests
/www/dev/tools/grunt/assets
/www/dev/tools/grunt/configs/*.*
/www/dev/tools/grunt/tasks
/www/dev/tools/grunt/tools
/www/dev/tools/Magento
/www/dev/tools/*.*
/www/dev/travis
/www/dev/*.*
/www/generated
/www/lib/internal/Cm
/www/lib/internal/LinLibertineFont
/www/lib/web
/www/lib/.htaccess
/www/node_modules
/www/phpserver
/www/pub
/www/setup
/www/var
/www/vendor
/www/*.*
!/www/package.json

# Generic
/www/build
!/www/app/code/
!/www/.gitignore
!/www/auth.json
!/www/composer.json
!/www/composer.lock
!/www/README*.md
